<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mantingfanggsc"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--外存储写权限， 构建语法需要用到此权限 -->
   <!--  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--摄相头权限， 拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>  
    <uses-permission android:name="android.permission.RECORD_AUDIO" />  
         
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AppStart"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 高德API -->
    	<meta-data
       		android:name="com.amap.api.v2.apikey"
        	android:value="59426176b4c98cd1b201fd0c7005fd21" />
        
        <receiver android:name="com.android.mantingfang.fourth.FragmentFourth$MyBroadcastOff" >
            <intent-filter>
                <action android:name="com.android.mantingfang.fourth.MyBroadcast.LOG_OFF" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.android.mantingfang.topic.FragmentTopic$ThemeBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.android.mantingfang.topic.ThemeBroadcast.THEMEADD" />
            </intent-filter>
        </receiver>
        
        <activity android:name="com.android.mantingfanggsc.MainActivity" />
        <activity android:name="com.android.mantingfanggsc.PoetryDetail" />
        <activity android:name="com.android.mantingfanggsc.Search" />
        <activity android:name="com.android.mantingfanggsc.SearchTwo" />
        <activity android:name="com.android.mantingfanggsc.WriterDetail" />
        
        <activity android:name="com.android.mantingfang.first.FirstPagerAdd" ></activity>
        <activity android:name="com.android.mantingfang.first.FirstPagerInfoP" ></activity>
        
        <activity android:name="com.android.mantingfang.second.SecondWenkuPoem" ></activity>
        <activity android:name="com.android.mantingfang.second.PoemMDetailTwo" ></activity>
        
        
        
        <activity android:name="com.android.mantingfang.topic.TopicSearch" ></activity>
        <activity android:name="com.android.mantingfang.topic.ShowWebView" ></activity>
        
        <activity android:name="com.android.mantingfang.third.UserPager" ></activity>
        <activity android:name="com.android.mantingfang.third.UserInfo" ></activity>
        <activity android:name="com.android.mantingfang.third.UserCollect" ></activity>
        <activity android:name="com.android.mantingfang.third.Comment" ></activity>
        <activity android:name="com.android.mantingfang.third.CommentMain"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" ></activity>
        <activity android:name="com.android.mantingfang.third.PoemMDetail" ></activity>
        <activity android:name="com.android.mantingfang.third.AddOne" ></activity>
        <activity android:name="com.android.mantingfang.third.AddTwo" ></activity>
        <activity android:name="com.android.mantingfang.third.AddThree" ></activity>
        <activity android:name="com.android.mantingfang.third.AddFour" ></activity>
        <activity android:name="com.android.mantingfang.third.ThemePager" ></activity>
        
        <activity android:name="com.android.mantingfang.picture.Picture" ></activity>
        
        
        <activity android:name="com.android.mantingfang.fourth.FourthTongzhi" ></activity>
        <activity android:name="com.android.mantingfang.fourth.FourthTuijian" ></activity>
        <activity android:name="com.android.mantingfang.fourth.FourthDianzan" ></activity>
        <activity android:name="com.android.mantingfang.fourth.FourthGuanzhu" ></activity>
        <activity android:name="com.android.mantingfang.fourth.FourthShoucang" ></activity>
        <activity android:name="com.android.mantingfang.fourth.FourthMy"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" ></activity>
        <activity android:name="com.android.mantingfang.fourth.LogOn" ></activity>
        <activity android:name="com.android.mantingfang.fourth.Phone" ></activity>
        <activity android:name="com.android.mantingfang.fourth.RegisterUser" ></activity>
        <activity android:name="com.android.mantingfang.fourth.Intro" ></activity>
        <activity android:name="com.android.mantingfang.fourth.Location" ></activity>
        <activity android:name="com.android.mantingfang.fourth.Setting" ></activity>
        <activity android:name="com.android.mantingfang.fourth.MyUserPager" ></activity>
    </application>

</manifest>
